{:event :harvest, :cells ["pk-karachi-saddar" "la-vientiane-centre" "ge-tbilisi-centre" "az-baku-centre" "lb-beirut-centre" "kw-kuwaitcity-centre" "bh-manama-centre" "om-muscat-centre" "iq-baghdad-centre" "tn-tunis-centre" "dz-alger-centre" "gh-accra-centre"], :measured 6, :failed [["la-vientiane-centre" "http 500 overpass request failed"] ["az-baku-centre" "http 500 overpass request failed"] ["kw-kuwaitcity-centre" "http 500 overpass request failed"] ["om-muscat-centre" "http 502 overpass request failed"] ["tn-tunis-centre" "http 500 overpass request failed"] ["gh-accra-centre" "http 500 overpass request failed"]], :leads 5595, :at "2026-09-01T20:47:17.770Z"}
{:event :sync, :exit 1, :dry-run false, :at "2026-09-01T20:59:37.554Z"}
